@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
/* span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #1c1c1c;
  z-index: 2;
  transition: 1.5s;
}
span:hover 
{
  transition: 5s;
} */
.profileBox
{
  position: absolute;
  width: 400px;
  background-color: #252525;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231C1C1C' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%231C1C1C'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); 
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
.profileBox .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.profileBox .content h2 
{
  font-size: 2em;
  color: #ff8fdd;
  text-transform: uppercase;
}
.profileBox .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.profileBox .content .form .inputBox
{
  position: relative;
  width: 100%;
}
.profileBox .content .form .profileButton button
{
  position: relative;
  width: 100%;
  padding: 10px;
  background: #ff8fdd;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
}
.profileBox .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.profileBox .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.profileBox .content .form .inputBox input:focus ~ i,
.profileBox .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #ff8fdd;
}
.profileBox .content .form .links 
{
    filter: drop-shadow(0 0 2px #ff8fdd);
    text-align: center;
}
.profileBox .content .form .links a 
{
  color: #ff8fdd;
  text-decoration: none;
}

/* .profileBox .content .form .links a:nth-child(2)
{
  color: #ff8fdd;
  font-weight: 600;
} */

.profileBox .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: #ff8fdd;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: relative;
  z-index: 3;
  left: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  transition: 2s; 
}
.modal-content {
  background-color: #181818f1;
  color: #ff8fdd;
  margin-bottom: 40%;
  margin-left: 40%;
  padding: 20px;
  border: 1px solid #ff8fdd;
  width: 20%;
  border-radius: 4px;
  text-align: center;
  animation: modalOpenAnim 1.5s ease-in-out;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 8);
}
@keyframes modalOpenAnim 
{
  0%
  {
    margin-bottom: 30%;
    opacity: 0;
  } 
  100%
  {
    margin-bottom: 40%;
    opacity: 1;
  }
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #1c1c1c;
}